<?php

declare(strict_types=1);

namespace Drupal\{{ machine_name }}\DataStructure;

{% for property in properties %}
{% if property.full is not empty %}
use {{ property.full -}};
{% endif %}
{% endfor %}

/**
 * An immutable value map class with readonly properties.
 */
final class {{ class }} {{ '{' }}

  /**
   * Construct a {{ class }} instance.
   *
   {% for property in properties %}
   * @param {{ property.full is not empty ? '\\' ~ property.full : property.type }} ${{- property.name }}
   *   The {{ property.name }} value.
   {% endfor %}
   */
  public function __construct(
    {% for property in properties %}
    public readonly {{ property.type}} ${{- property.name }}{{- not loop.last ? ',' }}
    {% endfor %}
  ) {}

{{ '}' }}
