<?php

declare(strict_types=1);

namespace Drupal\{{ machine_name }}\DataStructure;

{% for property in properties %}
{% if property.full is not empty %}
use {{ property.full -}};
{% endif %}
{% endfor %}

/**
 * A mutable value map class with public properties.
 */
final class {{ class }} {{ '{' }}

  {% for property in properties %}
  /**
   * The {{ property.name }} value.
   *
   * @var {{ property.full is not empty ? '\\' ~ property.full : property.type }}
   */
  public {{ property.type}} ${{- property.name }};

  {% endfor %}

{{- '}' }}
